body {
    margin: 0;
    font-family: "Poppins", sans-serif;
    transition: 0.3s;
}

.navbar {
    padding: 15px 25px;
    background: #3f51b5;
    color: white;
    display: flex;
    justify-content: space-between;
}

.nav-icon {
    width: 24px;
    height: 24px;
    margin-right: 8px;
}

.left {
    display: flex;
    align-items: center;
}

.dark-toggle {
    background: none;
    border: none;
    cursor: pointer;
    color: white;
}

.container {
    width: 85%;
    margin: 25px auto;
}

.floating-btn {
    position: fixed;
    right: 25px;
    bottom: 25px;
    background: #4caf50;
    padding: 15px;
    border-radius: 50%;
    color: white;
    text-decoration: none;
}
