.delete-box {
    background: white;
    padding: 35px;
    border-radius: 12px;
    text-align: center;
    box-shadow: 0 3px 10px rgba(0,0,0,0.1);
}

.warning-text {
    color: red;
    margin-bottom: 20px;
}

.delete-btn { background: #f44336; }
.cancel-btn { background: #777; }
