.page-title {
    font-size: 26px;
    font-weight: 600;
}

.blog-list {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
}

.blog-card {
    background: white;
    padding: 20px;
    text-decoration: none;
    color: black;
    border-radius: 12px;
    box-shadow: 0 3px 10px rgba(0,0,0,0.1);
    transition: 0.2s;
}

.blog-card:hover {
    transform: translateY(-5px);
}
